<%- include("templates/header") %>
    <form action="/login" method="get" style="display:inline">
        <button type="submit">Login</button>
    </form>
    <form action="/signup" method="get" style="display:inline">
        <button type="submit">Signup</button>
    </form>
<%- include("templates/footer") %>